// Цвета
$color-blue: #005bfe;
$color-blue-hover: #0047c6;
$color-pink: #f81155;
$color-pink-hover: #d1003e;
$color-white: #fff;
$color-black: #000;
$color-empty-text: #acadae;
$color-main-background: #f6f7f9;
$color-contacts-border: #e6e6e6;
$color-input-placeholder: #979797;
$color-input-background: #f2f2f2;
$color-error: #ea3d2f;
$color-cancel-button-hover: #d9d9d9;
$color-add-group-button-hover: #ced8e7;
$color-delete-button-hover: #ea3d2f;
$color-contact-name: #808080;

// Брейкпоинты
$breakpoint-mobile: 540px;

// Радиус
$border-radius: 0.375rem;

// Отступы и размеры header
$header-gap: 1rem;
$header-height: 4.4375rem;
$header-padding-y: 1rem;

// Кнопка "Добавить контакт" в header
$header-add-button-padding-y: 0.625rem;
$header-add-button-padding-x-right: 2.875rem;
$header-add-button-padding-x-left: 1.3125rem;
$header-add-button-icon-offset: 1rem;

// Кнопка "Группы" в header
$header-groups-button-padding-y: 0.625rem;
$header-groups-button-padding-x: 1.1875rem;

// Контент main
$main-empty-text-padding-top-desktop: 23.4375rem;
$main-empty-text-padding-top-mobile: 15.625rem;
$main-container-padding-top: 1.4375rem;

// Кнопка "Добавить контакт" в main
$main-add-button-padding-y: 1rem; // 16px
$main-add-button-padding-x-left: 6.375rem; // 102px
$main-add-button-padding-x-right: 8.0625rem; // 129px
$main-add-button-icon-offset: 6.625rem; // 106px

// Переходы
$transition-base: 0.3s ease;

// Contacts

// Toast
$toast-z-index: 9999;
$toast-position-bottom-desktop: 3.75rem; // 60px
$toast-position-right-desktop: 3.75rem; // 60px
$toast-position-bottom-mobile: 1rem; // 16px
$toast-position-right-mobile: 1rem; // 16px
$toast-padding: 1rem 1rem 1rem 2.5rem; // 16px 16px 16px 40px
$toast-box-shadow: 0 0.125rem 0.5rem 0 #00000026; // 0 2px 8px 0
$toast-font-size: 0.875rem; // 14px
$toast-line-height: 130%;
$toast-icon-offset-x: 1rem; // 16px
$toast-animation-in: 0.4s ease forwards;
$toast-animation-out: 0.3s ease forwards;
$toast-icon-url: './icons/ok.svg';
