@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.notification {
  padding: $notification-padding;
  width: $notification-width-desktop;
  border: none;
  border-radius: $border-radius;

  @media (max-width: $breakpoint-mobile) {
    width: $notification-width-mobile;
  }
}

.notification__wrapper {
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: $notification-gap;
}

.notification__close-button {
  top: $notification-close-offset;
  right: $notification-close-offset;
}

.notification__heading {
  font-weight: $font-weight-bold;
  font-size: $notification-font-size-heading;
  line-height: $notification-line-height;
  text-align: center;
  color: $color-black;
}

.notification__text {
  font-weight: $font-weight-regular;
  font-size: $notification-font-size-text;
  line-height: $notification-line-height;
  text-align: center;
  color: $color-black;
}

.notification__buttons-box {
  gap: $notification-button-gap;
}

.notification__approve-button {
  padding: $notification-approve-padding;
}

.notification__cancel-button {
  padding: $notification-cancel-padding;
}