@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.toast {
  position: fixed;
  bottom: $toast-position-bottom-desktop;
  right: $toast-position-right-desktop;
  z-index: $toast-z-index;
  pointer-events: none;

  @media (max-width: 90rem) {
    bottom: $toast-position-bottom-mobile;
    right: $toast-position-right-mobile;
  }
}

.toast__content {
  text-align: center;
  background-color: $color-white;
  color: $color-black;
  border-radius: $border-radius;
  padding: $toast-padding;
  box-shadow: $toast-box-shadow;
  font-weight: $font-weight-regular;
  font-size: $font-size-sm;
  line-height: $line-height-base;
  opacity: 0;
  transform: translateX(100%);
  background-image: url($toast-icon-url);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: $toast-icon-offset-x;
  animation: toast-slide-in $toast-animation-in;

  &.hide {
    animation: toast-slide-out $toast-animation-out;
  }
}

@keyframes toast-slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toast-slide-out {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}